/* FOOTER */

.footer {
    background: #212529;
    color: white;
    text-align: center;
    padding: 30px;
}

/* ================================= */
/* CELULARES */
/* ================================= */

@media (max-width: 768px) {

    .footer {
        padding: 25px 15px;
    }

}

/* ================================= */
/* CELULARES PEQUEÑOS */
/* ================================= */

@media (max-width: 480px) {

    .footer {
        padding: 20px 10px;
        font-size: 0.9rem;
    }

}