@import url('navbar.css');
@import url('hero.css');
@import url('quienes-somos.css');
@import url('valores.css');
@import url('eje.css');
@import url('footer.css');

@import url('nosotros.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}