/* SECCION VALORES */

.values {
    padding: 80px 20px;
    background: linear-gradient(
        135deg,
        #0155ae,
        #1b82e3
    );
}

.values h2 {
    text-align: center;
    font-size: 2.2rem;
    color: white;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 320px;
    background: white;
    padding: 35px 25px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 120px;
    height: 120px;
    object-fit: contain;

    margin: 0 auto 20px;

    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.05);
}

.card h1 {
    color: #0056b3;
    font-size: 1.6rem;
    margin-bottom: 15px;
}

.card p {
    color: #555;
    line-height: 1.7;
}

/* ================================= */
/* TABLETS */
/* ================================= */

@media (max-width: 992px) {

    .cards {
        gap: 20px;
    }

}

/* ================================= */
/* CELULARES */
/* ================================= */

@media (max-width: 768px) {

    .values {
        padding: 60px 15px;
    }

    .values h2 {
        font-size: 1.8rem;
        margin-bottom: 35px;
    }

    .card {
        width: 100%;
        max-width: 350px;
        padding: 30px 20px;
    }

    .card img {
        width: 100px;
        height: 100px;
    }

    .card h3 {
        font-size: 1.4rem;
    }

}

/* ================================= */
/* CELULARES PEQUEÑOS */
/* ================================= */

@media (max-width: 480px) {

    .values h2 {
        font-size: 1.5rem;
    }

    .card {
        padding: 25px 18px;
    }

    .card img {
        width: 90px;
        height: 90px;
    }

    .card h3 {
        font-size: 1.2rem;
    }

    .card p {
        font-size: 0.95rem;
    }

}